# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
env/
venv/

# VSCode and macOS
.vscode/
.DS_Store

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
